.header {
		 font-family: arial;
		 font-size: 24px;
		 text-align: center;
		 padding: 30px;
		 color: black;
		 }

.image {
         display: inline-block;
		 height: 100%; 
		 width: 28%;
		 padding: 20px;
		 float: left;
		 }
		 
.tiny  { 
		 text-align: justify;
		 font-family: athelas;
		 font-size: 11px;
		 padding: 17px;
		 width: 675px;		 
		 }        
		 				 
.column {display: inline-block;
		 }
		 
.left {
		display: inline-block;
		width: 35%;
		padding: 10px;
		text-align: right;
		 }
		 
.middle {
		 display: inline-block;
		 width: 40%;
		 text-align: justify;
		 padding: 10px;
		 }
		 
.right {
		 display: inline-block;
		 width: 5%;
		 }

.row {
		 display: table;
         clear: both;
         }
         
.scoot    { position: absolute;
            bottom: -115px;
            left: 310px;
            }
         
.small-font {
          font-family: athleas;
		  font-size: 11px;
		  }

.ludlow {   font-family: ludlow;
            }

.delphian { font-family: delphian;
			font-size: 300%
		    }
			
          
.record   { font-family: avenir;
            }
          
.tempo    { font-family: arial;
            }
            
.margin   { margin-left: 500px;
            }
            
@media only screen and (max-device-width: 600px) {

.image    {
            float: none; 
            }

.tiny     {
            display: inline-block;
            padding: 0;
            float: none;
            }
.column   {
            display:;
            }

.left     {
            width: 100%;
            text-align: left;
            }
            
.middle   { width: 100%;
            }
            
.right    { width: 100%;
            }

.scoot    {position: relative;
           width: 100%;
           bottom: inherit;
           left: inherit;
            }
            
.small-font {
           display: inline-block;
           font-size: 100%; 
            }

.delphian   {
           float: none;
            }
            
.margin     {
           margin-left: 0;
         
            }
           
.tempo      {
           float: none;
           font-size: .9em;
            }

.record     {
           margin: 0;
           float: none;
           font-size: .9em;
            }
}

    

